*.swp
*.log
*.cache

/user-dirs.*
/monitors.xml*
/zoomus.conf

/alien-arena
/android-notifier-desktop
/Atlassian
/Atom
/Atom-Shell
/Atraci
/autostart
/awesome
/awesome.34
/awesome.35
/bacula.org
/Bitcoin
/browserify
/cairo-dock
/Canonical
/cef_user_data
/chrome-remote-desktop
/chromium*
/Clementine
/clerk/*cache*
/clerk/ratings*
/compiz-1
/configstore
/dconf
/designer
/Digia
/Dolezel
/enchant
/fb-client
/fontforge
/gajim
/gconf
/gdrive
/gedit
/Genymobile
/gimp-2.8
/gnome-control-center
/gnupg
/Google
/google-chrome*
/google-googletalkplugin
/gthumb
/gtk-2.0/gtkfilechooser.ini
/gtk-3.0
/guvcview
/helloworld-app
/htop
/ibus
/inkscape
/keepassx
/keyboard
/Kitematic
/klavaro
/libaccounts-glib
/libreoffice
/LightTable
/linconnect-server
/Litecoin
/lxc
/mc
/menus
/midori
/MintCoin
/mps-youtube
/mutt/config
/mux
/nautilus
/nautilus-actions
/nemo
/NINJA-IDE
/nitrogen
/pavucontrol.ini
/plover
/Popcorn-Time
/PPCoin
/profanity
/pulse
/qtile
/QtProject*
/qutebrowser/quickmarks
/ranger/bookmarks
/ranger/history
/ranger/tagged
/Recoll.org
/s4-dir
/SailfishAlpha3
/scudcloud
/Skype
/Slack
/smudge.sed
/software-center
/spacefm
/spotify
/sublime-text*
/subliminal.cache*
/syncthing
/teamviewer9
/totem
/transmission
/Trolltech.conf
/ubuntu-ui-toolkit
/unity
/unity3d
/Unknown Organization
/update-notifier
/veromix
/virtualbox
/VisualParadigm
/vlc
/www.bacula.org
/yelp
