[Unit]
Description=rename workspace names (i3)
Documentation=man:i3(1)
After=display-manager.service

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/home/onjin/.pyenv/shims/i3-workspace-names-daemon
ExecStop=/usr/bin/killall i3-workspace-names-daemon
KillMode=none

Restart=always
RestartSec=5

[Install]
WantedBy=default.target
